.navbar-static-top {
    height: 12%;
    width: 100%;
    background-color: #e24510;
    color: #faebd7;
}

#ddlogout:focus {
    background-color: #e24510;
}

main {
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main > article {
    height: 100%;
    background-color: #F9F6F4;
    flex-grow: 1;
    width: 30em;
}

.tile {
    display: flex;
    background-color: rgb(102, 102, 153);
    min-height: 12em;
    min-width: 12em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    width: 20%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}